body,ul,li,p{margin:0;padding:0;}
body{	font-family: 'Microsoft　YaHei' 'Consolas';}

#main{
	overflow:auto;
	width:800px;
}
#right,#left
{
	border:1px solid #6699ff;
	margin:50px;
	float:left;
	padding:20px;
	background:#fafafa;
	height:600px;
	overflow:auto;
}
#add{
	border:1px solid #6666ff;
	float:left;margin-top:200px;
	position:relative;width:80px;height:30px;text-align:center;color:#ffffff;
	line-height:30px;background:#227de3;cursor:default;
}
#add:hover{background:#98acfc}

ul{list-style:none;}

#left ul li,
#right ul li,
.selecting,
.selected,
.child_li{
	list-style:none;
	width:200px;
	border: 1px solid #a0a0a0;
	cursor:default;
	line-height:30px;
	position:relative;
	font-size:14px;
	padding-left:10px;color:#393939;
}

.child_li{background:#99ff66;}
.not_select{background:#a6bffb;}
.selecting{background:#8eb3ff;}
.selected{background:#cac8ca;color:#e6e6e6;cursor:wait;}
.del_img{width:17px;height:17px;background:url('delete-circular3.png') no-repeat;float:right;margin:7px;}
.del_img:hover{background:url('delete-circular4.png')  no-repeat; }

