body{    font-family: "Microsoft Yahei", Verdana, Simsun;}
body,div,ul,li,h4,p{margin:0;padding:0;}
ul,li{list-style:none;}
.container{
    min-width:400px;
    max-width:800px;
    margin:10px auto;
}
.top{
    background-color:#F5F5F5;
    height:40px;
    border-bottom:1px solid #DDDDDD;
    margin:0;
}
.top button{
    padding:4px 10px;
    border-radius: 3px;
    background-color:#F5F5F5;
    border: 1px solid #A9A9A9;
    float:right;
    margin:8px 21px 0 0;
    color:#909090;
}
.articalContainer{
    padding:10px;
    height:270px;
    overflow-y:scroll;
    font-family: "Microsoft Yahei", Verdana, Simsun;
    color: #727272;
    background:url(bg.png) repeat-x bottom ;
}
.articalContainer h4{
    margin:10px 0;
    font-size:16px;
}
.content  .artical{
    font-size:16px;
    text-indent: 2em;
    line-height:2em;
}
.artical .wordBlank{ /*空格处样式*/
    display:inline-block;
    text-indent: 0;
    text-align:center;
    padding:0 5px;
    height:26px;
    line-height:26px;
    min-width:70px;
    border-bottom:1px solid #cccccc;
    vertical-align: middle;

}

.blue,.wordBlank:hover{
    background-color:#70D3F2;
    color:#ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blue:hover{

}
.dragBtn{
    height:30px;
}

/*数字索引*/
#bottom .numbers{
    list-style:none;
    padding:0;
    color:#ffffff;
    margin:0 auto;
}
#bottom .numbers:after{
    content:'';
    display:block;
    clear:both;
    height:0;
    line-height:0;
}
#bottom .numbers li {
    height:27px;
    margin-left:5px;
    float:left;
    font-size:13px;
    padding-bottom:15px;
}
.havePoint{
    background: url(point.png) no-repeat bottom center;
}
#bottom .numbers span{
    display:block;
    background-color: #DBDBDB;
    line-height:27px;
    width:27px;
    height:27px;
    text-align:center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius:5px;
    cursor:pointer;
}


/*底部选项框*/
#bottom .options{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0 auto;
    list-style:none;
    border:1px solid #616161;
    overflow:hidden;
    clear:left;
    float:left;
}

.wordOption{
    color:#616161;
    float:left;
    margin:0 auto;
    list-style:none;
    border:1px solid #d4d4d4;
    text-align: center;
    line-height:40px;
    width:250px;
    cursor:default;
}
.wordOption:hover.active{
    color:#74DFF0;
}


.finally{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.61);
}

.message{
    max-width:800px;
    height:500px;
    background-color:white;
    margin:10px auto;
    text-align:center;
}
.message h1{
    border-bottom:1px solid #E5E5E5;
    font-size:16px;
    font-family: "Microsoft Yahei", Verdana, Simsun;
    color: #616161;
    line-height:60px;
}
.result{
    padding:50px;
    height:44%;
    border-bottom:1px solid #E5E5E5;
}
.result  .answer{
    padding: 30px;
    font-weight:bold;
}
.result .right{ /*//回答正确*/
    color:#33E695;
}
.result .false{ /* 回答错误*/
    color:#FF5F7B;
}
.finally button{
    margin-top:10px;
    width:300px;
    background-color:white;
    border:1px solid #A6D3E0;
    border-radius:40px;
    height:40px;
    color:#A6D3E0;
    outline:0;
}
